altgraph==0.17.5
certifi==2026.4.22
cffi==1.17.1
charset-normalizer==3.4.7
idna==3.13
keyboard==0.13.5
keyring==25.7.0
librosa
mouse==0.7.1
numpy==2.4.4
packaging==26.2
pefile==2024.8.26
pip==26.1.1
pycparser==3.0
pyinstaller==6.20.0
pyinstaller-hooks-contrib==2026.5
pyperclip==1.11.0
pywin32
pywin32-ctypes==0.2.3
requests==2.33.1
setuptools==82.0.1
sounddevice==0.5.5
soundfile==0.13.1
urllib3==2.7.0
